@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sage-950: #161b14;
  --sage-900: #2d3429;
  --sage-800: #343d2f;
  --sage-700: #3d4a36;
  --gold-400: #e0ab48;
  --gold-500: #d8922a;
  --gold-300: #e9c671;
}

body {
  @apply bg-sage-950 text-sage-100 antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
